body {
    font-family: "Montserrat", sans-serif;
}

.my-container {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
    transition: all 0.4s;
    color: white;
}

.top-header-bar {
    background: #ff4500;
    font-size: 12px;
}

.donate-btn-link {
    padding: 20px 40px !important;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 1;
    background: #222;
    color: #fff !important;
    border-radius: 0;
    transition: 0.3s;
}

.donate-btn-link:hover {
    background: #000;
}

nav .container {
    width: 77%;
    margin-inline: auto;
}

.nav-item .nav-link {
    position: relative;
}

.nav-item .active {
    color: #ff4500 !important;
}

.nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #ff4500;
    left: 8px;
    bottom: -26px;
}

.nav-item .nav-link:hover::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #ff4500;
    left: 20%;
    bottom: -26px;
}

.nav-item .nav-link:hover {
    color: #ff4500 !important;
}

.header-slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url(images/hero.jpg.webp);
    height: 81vh;
    background-position: top center;
    background-size: cover;
}

.header-slider .container {
    width: 77%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #ff5a00;
    padding: 20px;
    border-radius: 50%;
}

.donate-header h1 {
    font-size: 102px;
    font-weight: 600;
    line-height: 1;
}

.donate-header h4 {
    font-size: 46px;
    font-weight: 600;
}

.donate-header p {
    font-weight: 500;
    line-height: 1.8;
}

.buttons-container {
    margin-top: 4rem;
}

.buttons-container .btn,
.welcome-charity .btn,
.Featured-Cause .btn,
.cause-layer .btn {
    padding: 18px 40px;
    border-radius: 24px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    line-height: 1;
    transition: all 0.4s;
}

.donate-button {
    background: linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
}

.read-button {
    border: 2px solid #ff5a00;
    transition: all 0.3s;
}

.read-button:hover,
.welcome-charity .btn {
    background: linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
}

.donate-bg {
    background-color: #ff4500;
}

.donate-bg-gray {
    background-color: #ecf2f5;
}

.donate-card {
    transition: all 0.4s;
}

.donate-card:hover {
    background-color: #ff4500;
    color: #fff;
}

.donate-card img:last-child {
    display: none;
}

.donate-card:hover img:first-child {
    display: none;
}

.donate-card:hover img:last-child {
    display: inline-block;
}

.charity-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/welcome-bg.jpg);
    background-position: top center;
    background-size: cover;
}

h2 {
    font-size: 36px;
}

.welcome-charity h2::after,
.upcoming-events h2::after,
.Featured-Cause h2::after,
.causes-section h2::after,
.achievements h2::after {
    content: '';
    width: 70px;
    height: 4px;
    background-color: #ff4500;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.upcoming-events h3,
.Featured-Cause h3 {
    font-size: 18px;
    color: #000;
}

.upcoming-events p {
    font-size: 14px;
}

.appointments a {
    font-size: 11px;
    font-weight: 500;
}

.features-causes {
    background: #edf3f5;
}

.progress-wrapper {
    width: 100%;
    padding: 10px 0;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background: #d8dfe3;
    border-radius: 50px;
    overflow: visible;
}

.progress-fill {
    height: 100%;
    background: #ff6600;
    border-radius: 50px;
    position: relative;
}

.progress-circle {
    top: 50%;
    transform: translate(50%, -50%);
    background: #ff6600;
    font-size: 14px;
    padding: 10px 6px;
    border-radius: 50%;
}

.progress-text {
    color: rgb(161, 156, 156);
    font-size: 14px;
}

.causes-section {
    background-image: linear-gradient(rgba(241, 236, 236, 0.65), rgba(241, 236, 236, 0.65)), url(images/cause-bg.jpg.webp);
    background-size: cover;
    background-position: center center;
}

.cause-card p,
.achievements p,
footer p {
    font-size: 14px;
    color: #a8a9aa;
}

.cause-layer {
    background-color: #222222b9;
    opacity: 0;
    transition: all 0.4s;
}

.cause-image:hover .cause-layer {
    opacity: 1;
}

.achievements h2 {
    line-height: 1.6;
}

h6 span {
    font-size: 48px;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/foot-bg.jpg);
    background-position: center center;
    background-size: cover;
}

footer a:hover {
    color: #ff5a00;
}

footer p {
    line-height: 2;
}

ul li {
    font-size: 14px;
}

ul li a {
    color: #a8a9aa;
}

li h6 {
    font-size: 12px;
}

li h6,
li i {
    color: #ff5a00;
}


#scrollTopBtn {
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100; 
    font-size: 24px;
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all  0.3s;
}

#scrollTopBtn:hover {
    background-color: #ff6600;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    transition: 0.5s;
    z-index: 2000;
}

.sidebar.show {
    left: 0;
}

.close-sidebar {
    font-size: 30px;
    cursor: pointer;
}

